
.rowContact {
    width: 300px;
    margin: auto;
}

.control-group {
    margin: auto;
}

/* .form-group {
    justify-content: center;
    flex-direction: column;
    align-content: center;
} */

fa fa-paper-plane-o {
    color: var(--purpleTaupe);
}