#contact {
    border: 1px solid black;
}

.form-group {
    border: 1px solid black;
    justify-content: center;
    flex-direction: column;
    align-content: center;
}

#name {
    border: 1px solid blue;
}