@import "about.css";
@import "body.css";
@import "contact.css";
@import "footer.css";
@import "header.css";
@import "navbar.css";
@import "variables.css";

body {
    background-color: #bcb0d3;
    background-repeat: no-repeat;
    height: 100vh;
}

#coronaimage {
    height: 100vh;
}