a:link, a:visited, a:hover, a:active {
    text-decoration: none; color: var(--purpleTaupe);
  }

#navBar {
    background-color: var(--bisque);
    font-family: var(--font-one);
    
    
}

.nav-item {
  color: var(--purpleTaupe);
}