:root {
    --red: #e80d0d;
    --orange: #ff8612;
    --purple: #470938;
    --yellow: #fbe555;
    /* begin actual color palette */
    --cottonCandy: #FFC6D9;
    --bisque: #FFE1C6;
    --peach: #fff7ae;
    --purpleTaupe: #48284A;
    --antiqueFuchsia: #916C80;
    /* most of the above shades were pulled from coolors.co */

    --font-one: 'Lobster', cursive;
    --font-two: 'Didact Gothic', sans-serif;
    /* The above font is from Google Fonts */
}
